footer {
  background-color: $primary-color;
  color: white;
  padding: 3em 0em 1em;

  img {
    width: 140px;
  }

  h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
  }

  a {
    color: white;


  }

  ul {
    list-style: none;
    margin-left: 0px;

    a {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .sub-footer {
    border-top: 2px solid rgba(255, 255, 255, 0.08);
    padding-top: 1em;
    margin-top: 1em;

    a, p {
      opacity: 0.5;
      margin-bottom: 0px;
      font-size: 14px;
    }

    a {
      &:first-child {
        border-right: 2px solid white;
        padding-right: 10px;
        margin-right: 10px;
      }
    }
  }

  .ulster-logo {
    max-width: 120px;
    margin-left: 29px;
    border-left: 2px solid white;
    padding-left: 20px;
  }
}