.hero {
  height: 90vh;
  min-height: 700px;
  position: relative;
  overflow: hidden;



  .grid-container, .grid-x {
    height: 100%;
    position: relative;
    z-index: 999;
  }

  .cell {
    z-index: 99;
  }

  h2 {
    font-family: futura-pt, sans-serif;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 2px;
  }

  .content {
    padding: 3em 0em 3em;
    color: white;

    .button {
      margin-top: 2em;
    }

    p {
      width: 80%;
    }
  }

  .hero-image {
    position: absolute;
    top:0;
    left: 40%;
    right: 0;
    bottom: 50px;
    overflow: hidden;

    .image {
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: left;
      animation: kenburns 40s infinite;
    }

    &:after {
      content:"";
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom:60%;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.84+0,0+100;Neutral+Density */
      background: -moz-linear-gradient(top,  rgba(0,0,0,0.84) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0.84) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0.84) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

    }

    .span-container {
      position: absolute;
      bottom: 0;
      left: 25%;
      right: 0;
    }

    span {
      width: 25%;
      display: inline-block;
      height: 15px;
      background-color: red;
      float: left;
    }

    .colour-1 {
      background-color: #364489;
    }

    .colour-2 {
      background-color: #D73479;
    }
    .colour-3 {
      background-color: #00A495;
    }
    .colour-4 {
       background-color: #EDB92A;
     }

  }

  &:before {
    content:"";
    position: absolute;
    bottom: -50vh;
    left: -50vh;
    right: 50%;
    top: -50vh;
    background-color: $secondary-color;
    z-index: 99;
    transform: rotate(-20deg);

  }


  &:after {
    content:"";
    position: absolute;
    bottom: -50vh;
    left: -45vh;
    right: 57%;
    top: -50vh;
    background-color: $primary-color;
    z-index: 99;
    transform: rotate(-28deg);

  }

}


@include breakpoint(medium down) {
  .hero {
    height:90vh;
  }

  .hero .hero-image {
    left: 29%;
    bottom: 17%;
  }
}

@include breakpoint(small only) {
  .hero {
    height: initial;
  }

  .hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 300px;
    background-color: #222E38;
    z-index: 99;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .hero .hero-image {
    left: 0;
    bottom: 0;
    height: 300px;
  }

  .hero .content {
    margin-top: 300px;
  }

  .hero .hero-image .span-container {
    left: 0;
  }

  .hero h2 {
    font-size: 17px;
  }
}

.smaller-hero {
  height: 80vh;
  min-height: 600px;

  .content {
    padding-bottom: 4em;
  }

  .hero-image span {
    width: 100%;
    background-color: #a1a9b0;
  }
}



@include breakpoint(medium down) {
.hero {
  height: 60vh;
}

.hero:before {
  right: 38%;
}
.hero:after {
  right: 49%;
}
.hero .hero-image {
  left: 44%;
}
}

@include breakpoint(small only) {
.hero:before {
  right: 0;
}
.hero .hero-image {
  left: 0;
}
.hero:after {
  display: none;
}
.hero {
    height: initial;
    min-height: 0px;
}
.hero .content p {
    width: 100%;
}
.hero h2 {
    font-size: 20px;
}
}
