.text-image {
  .content {
   padding-right: 5em;

    h3 {
      margin-bottom: 1.5em;
    }

    .button {
      margin-top: 1em;
    }
  }

  .img-container {
    position: relative;

    &:before {
      content:"";
      position: absolute;
      top: 15px;
      left: 15px;
      bottom: -15px;
      right: -15px;
      background-color: $primary-color;
      z-index: 9;
    }

    img {
      position: relative;
      z-index: 99;
    }
  }
}

.image-text {
  .content {
    padding-right: 0em;
    padding-left: 6em;
  }
}

.text-text {
  .content h3 {
    margin-bottom: 20px;
  }
}