.text-image {
  .content {
   padding-right: 5em;

    h3 {
      margin-bottom: 1.5em;
    }

    .button {
      margin-top: 1em;
    }
  }

  .img-container {
    position: relative;
    display: inline-block;
    max-width: 85%;

    &:before {
      content:"";
      position: absolute;
      top: 15px;
      left: 15px;
      bottom: -15px;
      right: -15px;
      background-color: $primary-color;
      z-index: 9;
    }

    img {
      position: relative;
      z-index: 99;
    }
  }
}

.image-text {
  .content {
    padding-right: 0em;
    padding-left: 6em;
  }
}

.text-text {
  .content h3 {
    margin-bottom: 20px;
  }
}


@include breakpoint (medium down) {
  .text-image .img-container {
    margin-top: 2em;
  }

  .image-text .content {
    padding-left: 1em;
    padding-top: 3em;
  }
  .image-text-container .small-padding {
    padding: 1em 0em;
  }
}

@include breakpoint (small only) {
  .text-image .content {
    padding-right: 0em;
}
.text-image .img-container img {
  width: 95%;
}
.text-image .img-container:before {
  right: 0;
}
.detail-container {
  width: 100%;
}
}
