<div class="campus-tiles small-padding">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-right">
            <div class="cell large-12" data-aos="fade-in" >
                <h2>Our Venues</h2>
                <h3>Your Ideal Setting</h3>
            </div>

            <div class="cell large-5" data-aos="fade-right" >
                <div class="tile belfast-tile" >
                    <a href="/sub-sub-page.html">
                        <div class="image" style="background-image: url('https://resourcespace.ulster.ac.uk/filestore/ulster/6/0/8/0_fa9a6a41716484c/6080scr_0461dcef289cd73.jpg?v=1452770714')"></div>
                        <div class="content">

                            <h3>Belfast</h3>
                            <p>This is the intro copy text.</p>
                            <a class="button">View Belfast Campus</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="cell large-7" data-aos="fade-left">
                <div class="tile jordanstown-tile" >
                    <a href="/sub-sub-page.html">
                        <div class="image" style="background-image: url('https://resourcespace.ulster.ac.uk/filestore/ulster/1/3/0/8/5_4ddd3c9c6f605f8/13085scr_5179aed6783565a.jpg?v=1611683904')"></div>
                        <div class="content">

                            <h3>Jordanstown</h3>
                            <p>This is the intro copy text.</p>
                            <a class="button">View Belfast Campus</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="cell large-5" data-aos="fade-right">
                <div class="tile coleraine-tile" >
                    <a href="/sub-sub-page.html">
                    <div class="image" style="background-image: url('https://resourcespace.ulster.ac.uk/filestore/ulster/8/8/1/4_bcfb87b88dfa7f6/8814scr_2e48686d8793526.jpg?v=1528380042')"></div>
                    <div class="content">

                        <h3>Coleraine</h3>
                        <p>This is the intro copy text.</p>
                        <a class="button">View Belfast Campus</a>
                    </div>
                    </a>
                </div>
            </div>

            <div class="cell large-7" data-aos="fade-left">
                <div class="tile magee-tile" >
                    <a href="/sub-sub-page.html">
                        <div class="image" style="background-image: url('https://resourcespace.ulster.ac.uk/filestore/ulster/1/7/8/2_04739ed06852bd5/1782scr_7070431850098b8.jpg?v=1415182593')"></div>
                        <div class="content">
                            <h3>Magee</h3>
                            <p>This is the intro copy text.</p>
                            <a class="button">View Belfast Campus</a>
                        </div>
                    </a>

                </div>
            </div>
            <div class="cell large-7" data-aos="fade-left">
                <div class=" brochure-tile" >
                    <a href="">
                        <div class="content">
                            <h2>Download Brochure</h2>
                            <p>This is the intro copy text.</p>
                            <a class="button">Download Brochure Here</a>
                        </div>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>

