<div class="contact-section medium-padding light-grey-background" >
    <div class="grid-container" data-aos="fade-up">
        <div class="grid-x grid-margin-x grid-margin">
            <div class="cell large-10 large-offset-1">
                <h2>Enquiry Form</h2>
                <h3>Get in Touch with us today</h3>

                <form>

                    <input type="text" class="half-input" placeholder="First Name" />
                    <input type="text" class="half-input" placeholder="Surname" />
                    <input type="text" placeholder="Subject" />
                    <textarea placeholder="Insert your message here"></textarea>
                    <input type="submit" class="button dark-button" placeholder="Submit" />

                </form>

            </div>
        </div>
    </div>
</div>