<footer>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6 ">
                <a href="/">
                    <img src="../assets/img/logo.png" />
                </a>
                <a href="">
                    <img class="ulster-logo" src="https://cdn.ulster.ac.uk/home/ulster-frontend/img/ulster-university-reverse.svg" />
                </a>




            </div>

            <div class="cell large-2 ">
                <h4>Spaces</h4>
                <ul>
                    <li>
                        <a href="">Belfast Campus</a>
                    </li>
                    <li>
                        <a href="">Jordanstown Campus</a>
                    </li>
                    <li>
                        <a href="">Coleraine Campus</a>
                    </li>
                    <li>
                        <a href="">Magee Campus</a>
                    </li>
                </ul>

            </div>
            <div class="cell large-2 ">
                <h4>Experiences</h4>
                <ul>
                    <li>
                        <a href="">Weddings &amp; Celebrations</a>
                    </li>
                    <li>
                        <a href="">Large Outdoor Events</a>
                    </li>
                    <li>
                        <a href="">Indoor Events</a>
                    </li>
                    <li>
                        <a href="">Conference & Meetings</a>
                    </li>
                    <li>
                        <a href="">Film &amp; Photography</a>
                    </li>
                </ul>

            </div>
            <div class="cell large-2 ">
                <h4>Expertise</h4>
                <ul>
                    <li>
                        <a href="">Bespoke Event Management</a>
                    </li>
                    <li>
                        <a href="">Hospitality & Catering</a>
                    </li>
                    <li>
                        <a href="">Private Viewings</a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="grid-x grid-margin-x sub-footer">
            <div class="cell large-6 text-left">
                <a href="">Terms</a>
                <a href="">Cookie Policy</a>
            </div>
            <div class="cell large-6 text-right">
                <p>
                    &copy; The Venue Collective 2021
                </p>

            </div>
        </div>
    </div>
</footer>