<header>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-4 medium-3 large-3">
                <a href="/">
                    <img src="../assets/img/logo.png" />
                </a>

            </div>

            <div class="cell small-8 medium-9 large-9">

              <div class="nav-menu hide-for-large" >
                  <div id="nav-icon3">
                     <span></span>
                     <span></span>
                     <span></span>
                     <span></span>
                  </div>
               </div>

                <nav>
                    <ul>
                        <li>
                            <a class="is-active" href="/">Home</a>
                        </li>
                        <li>
                            <a href="/sub-page.html">Spaces</a>

                        </li>
                        <li>
                            <a href="/sub-page.html">Experiences</a>
                        </li>
                        <li>
                            <a href="/sub-page.html">Expertise</a>
                        </li>
                        <li>
                            <a href="/sub-page.html">Facilities</a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>
    </div>
</header>
