<header>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-3">
                <a href="/">
                    <img src="../assets/img/logo.png" />
                </a>

            </div>

            <div class="cell large-9">

                <nav>
                    <ul>
                        <li>
                            <a class="is-active" href="/">Home</a>
                        </li>
                        <li>
                            <a href="/sub-page.html">Spaces</a>

                        </li>
                        <li>
                            <a href="/sub-page.html">Experiences</a>
                        </li>
                        <li>
                            <a href="/sub-page.html">Expertise</a>
                        </li>
                        <li>
                            <a href="/sub-page.html">Facilities</a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>
    </div>
</header>