<div class="text-image text-text medium-padding">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">

            <div class="cell large-5" data-aos="fade-right">

                <div class="content">
                    <h2>Section Title Here</h2>
                    <h3>Facility Info Here</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <a class="button dark-button">Enquire Today</a>
                </div>

                </div>

            <div class="cell large-7" data-aos="fade-left">
                <div class="content">
                    <div class="detail-container">
                        <h3>Space Size</h3>
                        <h4>116M</h4>
                    </div>
                    <div class="detail-container">
                        <h3>Capacity</h3>
                        <h4>65 </h4>
                    </div>
                    <div class="detail-container">
                        <h3>Price From</h3>
                        <h4>£250</h4>
                    </div>
                    <h3>Section Title Here</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                </div>
            </div>


        </div>
    </div>
</div>